<mat-toolbar class="toolbar">
  <span routerLink="/"><img id="home" src="./../../assets/ic_gamepad.svg"></span>
  <span *ngFor="let item of arrRoutes">
    <a class="nav-link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="{{item.link}}">
      {{item.name}}</a>
  </span>
</mat-toolbar>

