.toolbar {
  align-items: baseline;
  background-color: #343434;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  padding: 8px 16px;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.nav-link{
  color: rgba(245, 245, 245, 0.808);
  font-size: 16px;
}
span{
  outline:none;
  border:none;
}
.active-link{
  color: white;
  
}