body{
  position: relative;
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.radio-group {
  display : inline-flex;
  flex-direction : column;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

.radio-button {
  margin : 5px ;
}

.example-selected-value {
  margin : 15px  0 ;
}
.question{
  font-weight: bold;
}
/*.container{
  padding: 5px;
  border: 1px solid black;
  width: 560px;
  background-color: #efefef;
  position: absolute;
  top: 15px;
  left: 30px;
}*/
.container{
  margin-top: 10px;
  position: absolute;
  left: 50px;
  width: 620px;
}

.result{
  text-align: right;
}


