.material-icons.md-35{
    color: green;
    font-size: 35px;
}
.material-icons.md-18{
    color: black;
    font-size: 18px;
}
#btnAdd{
    margin-left: 27px;
    margin-top: 10px;
    
}

.mat-button{
  outline:none !important;
}

.content{
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  left: 50px;
  width: 620px;
}
mat-card-title{
  font-size: 16px;
  font-weight: bold;
}
mat-card{
  margin-top: 5px;
}
mat-card-actions{
  text-align: right;
}
.mat-card{
  width: 500px;
}


