<div class="content" *ngIf="questions.length">
  <div class="title" *ngFor="let question of questions; let index = index">
    <mat-card>
      <mat-card-title>
        <div class="title">
          <i class="material-icons">question_answer</i>{{question.text}}
        </div>
      </mat-card-title>
      <hr>
      <mat-card-content>
        <div class="card-text" *ngFor="let answer of question.answers; let indexAnswer = index">
          <mat-radio-group class="example-radio-group" [(ngModel)]="question.correctAnswer">
            <mat-radio-button class="example-radio-button"
                              [value]="indexAnswer"
                              disabled>{{answer}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <button mat-button id="btnEdit" (click)="openEditQuestion(question, index)">
          <i class="material-icons md-18">edit</i>
        </button>
        <button mat-button id="btnDel" (click)="deleteQuestion(index)">
          <i class="material-icons md-18">delete</i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button mat-button id="btnAdd" type="button" (click)="openAddQuestion()">
  <i class="material-icons md-35">add_box</i>
</button>
