<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!--<h4>Add / Edit Question</h4>-->
  <mat-card-title>Add/Edit Question</mat-card-title>
  <mat-dialog-content>
    <mat-form-field>
      <input class="questionInp"
             matInput
             formControlName="text"
             placeholder="Enter question">
    </mat-form-field>
    <h6>Answers:</h6>
    <div class="bodyAnswer" *ngFor="let answer of answersArray.controls; let i = index">
      <mat-radio-group 
        class="radio-group"
        formControlName="correctAnswer"
        [(ngModel)]="form.get('correctAnswer').value">
        <mat-radio-button class="radio-button"
                          [value]="i">
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput
               [formControl]="answer"
               name="answer"
               placeholder="Enter answer">
      </mat-form-field>
      <button mat-button
              id="btnDelAnswer"
              type="button"
              (click)="deleteAnswer(i)" [disabled]="answersArray.controls.length < 3">
        <i class="material-icons">delete_forever</i>
      </button>
    </div>
    <button mat-button
            color="primary"
            id="btnAddAnswer"
            type="button"
            (click)="addAnswer()">
      <i class="material-icons md-16">add_box</i>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Ok</button>
    <button mat-raised-button color="accent" type="button" (click)="close()">Cancel</button>
  </mat-dialog-actions>
</form>

