.radio-group {
  display: inline-flex;
  flex-direction: column;
}
.radio-button {
  margin: 5px;
}
mat-form-field{
  width: 400px;
}

#btnAddAnswer{
  float: left;
  color: green;
}
.mat-card-title {
  font-size: 21px;
  font-weight: bold;
}
/* #btnDelAnswer{
  color:darkred;
} */