.main > div{
    float: left;
    position: relative;
}
.header{
    width: 100%;
    margin-top: 10px;
    left: 50px;
}
.content{
    width: 900px;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
}
.card{
    width: 100px;
    height: 150px;
    margin-right: 5px;
    display: inline-block;     
}
.cardNum{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.select{
    width: 140px;
    margin-bottom: 5px;
}

