<div class="main">
  <div class="header">
    <h4>Choose level</h4>
    <form>
    <select class="select" [(ngModel)]="selectedLevel" name="select">
      <option *ngFor="let level of levels" [ngValue]="level.id">{{level.name}}</option>
    </select><br>
    <button mat-raised-button color="primary" (click)="startNewGame()">Start Game</button>
  </form>
  </div>
  <div class="content">
      <div class="try" *ngIf="total >0 && total <= 100"><h5>Your result: <b>{{total}}%</b></h5></div>
    <div class="card" *ngFor = "let card of cards; let idx = index" (click)="showCard(idx)">
      <span class="cardNum" *ngIf="!card.isFlipped === false"> 
        {{card.id}}
      </span>
    </div>
  </div>
</div>